@import "../variables/variables";

.form {
  .form-title {
      color: $form-header-color;
      border-bottom: 2px solid $form-header-color;
      font-weight: 500;
      font-size: 1.3em;
  }

  .form-label {
    font-size: 14px;
  }

  .form-input {
    width: 100%;
    border: 2px solid $input-border-color;
    border-radius: 0;
  }

  .close-btn {
    cursor: pointer;
  }

  .form-button {
    background-color: $btn-back-color;
    font-size: .9em;
    font-weight: 500;
    border-radius: .5em;
  }

  .select-control__control {
    height: calc(1.5em + 0.5rem + 2px);
    min-height: calc(1.5em + 0.5rem + 2px);
    align-content: center;
  }
}