@import "../variables/variables";
@import "../variables/mixins";

.welcome{
  h1{
    color: $font-color;
    font-size: 2.7em;
    font-weight: 500;
  }
  @include respond(mobile) {
    h1 {
      font-size: 2em;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .credits{
    font-weight: 500;
    position: relative;
  }
}