@import "../variables/variables";
@import "../variables/mixins";

.welcome{
  h1{
    color: $font-color;
    font-size: 3em;
    font-weight: 700;
  }
  @include respond(mobile) {
    h1 {
      font-size: 2em;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .credits{
    font-weight: 500;
    position: relative;
  }
}